{% extends "::base.html.twig" %}

{% block body %}
<div class="jumbotron">
  <h1>Hola Bienvenido</h1>
  <p>
      Esta es un app para getionar los movimientos de una bodega
  </p>
  <p><a class="btn btn-primary btn-lg" role="button">Comenzar</a></p>
</div>

{% endblock %}

